.counter-container {
  text-align: center;
  font-family: sans-serif;
}
.count-display {
  font-size: 10cm;
  margin-top: 0;
  margin-bottom: 50px;
}
.counter-button {
  width: 150px;
  height: 50px;
  font-size: 1.5em;
  margin: 25px;
  font-weight: bold;
  background-color: aqua;
}
